absl-py==2.4.0
xhtml2pdf==0.2.16
altgraph==0.17.5
immutabledict==4.3.1
numpy==2.4.3
ortools==9.15.6755
packaging==26.0
openpyxl==3.1.5
pandas==3.0.1
protobuf==6.33.6
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
python-dateutil==2.9.0.post0
setuptools==82.0.1
six==1.17.0
typing_extensions==4.15.0
